body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.0em;
}

h1, h2, h3 {
    font-weight: 700;
}

.dashboard h1.card-title {
    font-weight: bold;
    font-size: 5rem;
}

.dashboard {
    margin-top: 28px;
}

.dashboard .card {
    margin-bottom: 28px;
}

pre {
    white-space: pre-wrap;
    font-size: 0.8em;
    color: rgb(20, 20, 20);
}

.intro {
    color: rgb(100, 100, 100);
    font-size: 1.4em;
    font-weight: bold;
}

.error {
    color: rgb(140,20,20);
    font-weight: bold;
}

small {
    color: rgb(106, 106, 129);
    font-size: 70%;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
}
  
th, td {
    padding: 8px;
}

th {
    background-color: #ddd;
}

.button-bar {
    margin-bottom: 32px;
}

img.avatar {
    max-height: 50px;
    float: right;
}

progress, progress::-webkit-progress-bar {
    width: 690px;
    height: 16px;
    background-color: #ddd;
    border: none;
    color: #003366;
}
