body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.0em;
}

h1, h2, h3 {
    font-weight: 700;
}

pre {
    white-space: pre-wrap;
}

small {
    color: rgb(106, 106, 129);
    font-size: 70%;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
}
  
th, td {
    padding: 8px;
}

th {
    background-color: #ddd;
}

.button-bar {
    margin-bottom: 32px;
}

img.avatar {
    max-height: 50px;
    float: right;
}
